*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair', serif;
}

img{
    width: 70px;
    height: 70;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 15px 40px;
}

ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a{
    text-decoration: none;
    color: white;
}

nav h2{
    color: white;
}

nav a:hover{
    color: #ff0000;
}

nav li:last-child a{
    background-color: red;
    padding: 6px 12px;
    border-radius: 5px;
}

nav li:last-child a:hover{
    background-color: red;
    color: black;
}

nav a.active{
    color: #ff0000;
    font-weight: bold;
    border-bottom: 2px solid #ff0000;
}


.hero{
    height: 100vh;
    background: url("../img/imp2.jpeg") no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero button{
    margin-top: 15px;
    background: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero button:hover{
    background: darkred;
}

.video-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    gap: 40px;
    background-color: #ffecec;
}

.video-text{
    flex: 1;
}

.video-box{
    flex: 1;
}

.video-box video{
    width: 100%;
    border-radius: 10px;
}

.video-text h2{
    font-size: 32px;
    margin-bottom: 15px;
}

.video-text p{
    font-size: 18px;
    color: #444;
}

.about{
    text-align: center;
    padding: 60px 20px;
    background-color: #f9f9f9;
}

.about h2{
    font-size: 36px;
    margin-bottom: 20px;
    color: rgba(255, 0, 0, 0.615);  

}

.about p{
    font-size: 18px;
    color: #666;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
}